/*Highlite which page is active*/
.active {
    background-color: #1d4ed8;
    /* border-radius: 1rem; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: sticky;
    top: 0px;
}

nav .title{
    color: white;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
    font-family: 'Gill Sans';
}

nav ul{
    display: flex
}

nav ul li{
    list-style: none;
    margin: 1rem;
}

nav ul li a{
    /* margin:  1rem; */
    padding: 1rem;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 1rem;
}

/* Hover effect on navbar menue */
nav ul li a:not(.active):hover{
    background-color: #172554;
}

nav .menu{
    
    display: none;
    position:absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;

}

@media (max-width: 530px){
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        align-items: last;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }
}